$gold: #bfa061;

footer {
    background: #9fa0a2;
    padding: 2% 0;
    text-align: center;
    
    a{
        display: inline-block;
        padding: 10px 1.5%;
        color: white;
    }
    
    .copyright{
        color: white;
        display: block;
        margin: 15px auto 0 auto;
    }
    
}

.main-section{
    img{
        max-width: 100%;
    }
}

hr{
    border-top: 1px solid #000000;
}

.alignright{
    float: right;
    margin: 0 0 10px 10px;
}

.alignleft{
    float: left;
    margin: 0 10px 10px 0;
}

.aligncenter{
    display: block;
    margin: auto auto;
}

.row{
    position: relative;
}

.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.container-full .row{
    margin-right: 0;
    margin-left: 0;
}

#ROC_dropcart{
    
    .ROC_dropCart{
        background-color: #bfa061;
        color: black;
        padding: 6px 3px 23px 3px;
    }
    
    a.ROC_dCChk{
        background-color: black;
        color: #bfa061;
        font-weight: 900;
        padding: 6px 0;
    }
    
    .ROC_dropCartOpts{
        padding: 6px 0px 2px 0px;
    }
    
//    .ROC_dropCart iframe{
//        transform: scale(1.6);
//        margin: -57px 0px 0px 0px;
//        right: 0;
//        width: 223px;
//    }
    
    .ROC_dCBktArr{
        font-size: 1.5rem;
        position: relative;
        left: 5px;
        top: 5px;
    }
}

/* Single Product Page */

.excerpt p{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

#tab-description{
    margin-top: 2%;   
}

.woocommerce div.product .product_title{
    font-weight: 900;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    width: 100%;
    float: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    display: none;
}
.price-container, .add-to-cart-roman{
    display: inline-block;
}
.product-summary{
    text-align: left;
}
.add-to-cart-roman input[type="submit"]{
    background: black;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}
input.quantity{
    width: 60px;
    text-align: center;
    height: 40px;
    border: 1px solid black;
    position: relative;
    top: 3px;
}
.quantity{
    font-size: 2rem;
    margin-left: 7px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
    color: black;
    font-weight: bold;
        margin-right: 19px;
    font-size: 2.5rem;
    position: relative;
    top: 5px;
}
.ingredients-item{
    display: inline-block;
    padding:0 20px;
    max-width: 250px;
    
    img{
        margin: auto auto;
        display: block;
    }
    
    strong{
        display: block;
    }
}
.middle-line{
    font-style: italic;
    font-weight: bold;
    display: block;
    font-size: 2rem;
    padding: 30px 0 30px 0;
    
    &:before {
        display: block;
        position: absolute;
        margin-top: 15px;
        height: 2px;
        width: 100%;
        background: black;
        content: '';
    }
    .contain{
        background: white;
        display: inline-block;
        position: relative;
        padding:0 10px;
    }
}
.woocommerce div.product{
    padding: 5% 5%;
}

/* Category Page */

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    width: 46%;
    margin: 0 3.8% 1.992em 0;
}

.woocommerce ul.products li.product a{
    border: 1px solid #bfa061;
    display: block;
    padding: 0 6%;
    overflow: hidden;
    background: white;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
    
    &:hover{
        
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
}

.woocommerce ul.products li.product h3{
    font-size: 1.1em;
    width: 40%;
    font-weight: bold;
    position: absolute;
    top: 21%;
    left: 6%;
    text-align: center;
}

.woocommerce ul.products li.product a img{
    width: 58%;
    margin: 0;
    float: right;
    padding-left: 7%;
}
.category-container{
    min-height: 100vh;
    background-position: top left;
    padding: 7% 0 5% 0;
}
.term-body .category-container{
    background: url('images/category-bkg.jpg') no-repeat;
    background-size: 83%;
    background-attachment: fixed;
    background-position: right center;
}
.term-hair .category-container{
    background: url('images/hair.jpg') no-repeat;
    background-size: 83%;
    background-attachment: fixed;
    background-position: right bottom;
}
.term-face .category-container{
    background: url('images/woman-mask.jpg') no-repeat;
    background-size: 83%;
    background-attachment: fixed;
    background-position: right center;
}
.cat-description{
    padding: 0 10%;
}
/* no direction */

.page .entry-content{
    padding: 5%;
    min-height: 85vh;
}
.contact{
    background: url('images/contact-bkg.jpg') no-repeat;
    background-size: cover;
    background-position: bottom right;
    text-align: left;
    position: relative;
    &:before{
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.17);
        position: absolute;
        top: 0;
        left: 0;
    }
    &:after{
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        background: url('images/contact-bowl.png') no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        background-size: 80%;
        background-position: top right;
    }
    &.wholesale{
        min-height: 0;
        
        &:after{
            background: none;
        }
        &:before{
            background: url('images/wholesale.jpg') no-repeat;
        }
        strong, .wpcf7-list-item-label{
            color: white;
        }
        input[type="submit"]{
            background: #fa94e0;
            color: black;
            font-weight: bold;
        }
    }
    .row{
        margin: 10px 0;
    }
    strong{
        font-size: 1.6rem;
        width: 88px;
        display: inline-block;
        text-align: right;
        padding: 0 11px 0 0px;
        vertical-align: top;
    }
}
.wholesale-top{
    background: url('images/wholesale-top.jpg') no-repeat;
    background-size: cover;
    padding: 5%;
    position: relative;
    
    .inner{
        position: relative;
    }
    
    &:before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.4);
    }
}
.wpcf7-list-item-label{
    font-weight: bold;
    font-size: 1.6rem;
}
.entry-content .inner{
    position: relative;
    z-index: 9;
}
.entry-content h1{
    font-weight: bold;
    margin-bottom: 4%;
}
.entry-content input[type="text"], textarea, input[type="email"]{
    width: 300px;
    max-width: 100%;
    border: 1px solid black;
    max-height: 130px;
}
.entry-content input[type="submit"]{
    display: inline-block;
    padding: 10px 15px;
    color: white;
    background: black;
    text-transform: uppercase;
    border: 0;
}
.shipping-outer{
    img{
        width: 100%;
        height: auto;
    }
}
    .quote{
        color: #bfa061;
        font-weight: bold;
        font-style: italic;
        font-size: 2.5rem;
        padding: 20px 15%;
        text-align: center;
    }
