$gold: #bfa061;

footer {
    
    background: #9fa0a2;
    padding: 2% 0;
    
    a{
        display: inline-block;
        padding: 10px 1.5%;
        color: white;
    }
    
    .copyright{
        color: white;
        display: block;
        margin: 15px auto 0 auto;
    }
    
}

#ROC_dropcart{
    
    .ROC_dropCart{
        background-color: #bfa061;
        color: black;
        padding: 6px 3px 23px 3px;
    }
    
    a.ROC_dCChk{
        background-color: black;
        color: #bfa061;
        font-weight: 900;
        padding: 6px 0;
    }
    
    .ROC_dropCartOpts{
        padding: 6px 0px 2px 0px;
    }
    
    .ROC_dropCart iframe{
        transform: scale(1.6);
        margin: -57px 0px 0px 0px;
        right: 0;
        width: 223px;
    }
    
    .ROC_dCBktArr{
        font-size: 1.5rem;
        position: relative;
        left: 5px;
        top: 5px;
    }
}
.woocommerce div.product .product_title{
    font-weight: 900;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images{
    width: 100%;
    float: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs{
    display: none;
}
.price-container, .add-to-cart-roman{
    display: inline-block;
}
.product-summary{
    text-align: left;
}
.add-to-cart-roman a{
    background: black;
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.woocommerce div.product p.price, .woocommerce div.product span.price{
    color: black;
    font-weight: bold;
        margin-right: 19px;
    font-size: 2.5rem;
    position: relative;
    top: 5px;
}
.ingredients-item{
    display: inline-block;
    padding:0 20px;
    max-width: 250px;
    
    img{
        margin: auto auto;
        display: block;
    }
    
    strong{
        display: block;
    }
}
.middle-line{
    font-style: italic;
    font-weight: bold;
    display: block;
    font-size: 2rem;
    padding: 30px 0 30px 0;
    
    &:before {
        display: block;
        position: absolute;
        margin-top: 15px;
        height: 2px;
        width: 100%;
        background: black;
        content: '';
    }
    .contain{
        background: white;
        display: inline-block;
        position: relative;
        padding:0 10px;
    }
}