.home{
    
    .ROC_dropCart{
        margin-right: 0;
    }
    
    .row{
        margin-left: 0;
        margin-right: 0;
    }
    
    .nopadding{
        padding-left: 0;
        padding-right: 0;
    }
}
    
    #section-home-example{
  
        #logo{
        filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        -webkit-filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
        width: auto;
        height: 27vh;
        margin-bottom: 1.5vw;
        }
    
    .sidebar{
        background: #000000;
        height: 100vh;
        position: fixed;
        padding-top: 2vw;
        width: 16.97%;
        z-index: 99;
        
        ul{
            list-style: none;
            padding: 0;
            margin-bottom: 4vh;
            
            a{
                color: #bfa061;
                font-weight: bold;
                font-family: "Times New Roman";
                font-size: 2.8vh;
                padding: 4px 0;
                display: block;
            }
        }
    }
    .homeframe1{
        background: url('images/homeframe1-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .homeframe2{
        background: url('images/homeframe2-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
    }
    .homeframe3{
        background: url('images/homeframe3-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
    }
    .homeframe4{
        background: url('images/homeframe4-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 60vh;
    }
    .homeframe5{
        background: url('images/homeframe5-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 80vh;
    }
    .homeframe6{
        background: url('images/homeframe6-scaled.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    .quote{
        color: #bfa061;
        font-weight: bold;
        font-style: italic;
        font-size: 2.5rem;
        padding: 20px 15%;
    }
    .home-cta{
        background: url('images/white-texture.png') no-repeat;
        background-size: cover;
        padding: 2% 5%;
        
        .cta{
            padding: 0 12%;
        }
        
        img{
            width: 100%;
            height: auto;
        }
        
        h2{
            font-weight: bold;
            font-style: italic;
            font-size: 4.5rem;
            color: black; 
        }
        
        p{
            font-weight: bold;
            font-size: 2.3rem;
        }
    }
}
