.our-story{
    font-size: 1.6vw;
    background-size: 100% 100%;
    background: url('images/our-story-bottom.jpg') no-repeat;
    background-position: bottom;
    
    h2{
        font-size: 2.8vw;
    }
    p{
        margin: 0 0 3% 0;  
    }
    .story-container strong{
        display: block;
        width: 85%;
    }
    .supadra{
        margin-right: 8%;
    }
    .top{
        background: url('images/our-story-top.jpg') no-repeat;
        background-size: 100% 100%;
        padding: 9% 9% 23% 9%;
        
        h1{
            margin-top: 40px;
            margin-bottom: 31%;
            font-size: 3vw;
        }
        .more-padding{
            padding: 16% 15% 0 15%;
            margin-bottom: 78%;
        }
    }
    .middle{
        position: relative;
        margin-top: -50%;
        
        &:before {
            background: url("images/our-story-center.png") no-repeat;
            background-size: 100% 100%;
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            content: '';
            z-index: 1;
        }
        
        &:after{
            display: block;
            content: '';
            position: absolute;
            top: 21%;
            right: 0;
            width: 32%;
            height: 30%;
            background: url('images/flowers.png') no-repeat;
            z-index: 1;
        }
        
        .inner{
            position: relative;
            padding: 49% 10% 39% 10%;
            z-index: 9;
        }
    }
    .bottom{
        padding: 0 9% 2% 9%;
        margin-top: -19%;
        position: relative;
        z-index: 9;
    }
}
.our-promise{
    background: url("images/special-bg.svg") no-repeat;
    text-align: center;
    color: white;
    display: inline-block;
    margin: auto auto;
    padding: 3vw 22vw;
    background-size: 100% 100%;
    font-size: 4vw;
}
.tilted{
    width: 40%;
    height: auto;
    position: relative;
    left: 11%;
}